<!--Source: https://developers.facebook.com/docs/javascript/howto/jquery -->
<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Login Page</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel= "stylesheet" type="text/css" href="../stylesheets/signInCSS.css" />
<!--   
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script> -->
    <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>


</head>
<body>
<div class= "center_box">
  <h1>DESSERTED ISLAND</h1>
  <h5>Find the person that you are most likely to get along with on a Deserted Island!</h5>
  <div id="fb-root"></div>
  <div id="status"></div>

  <div class="fb-login-button" scope="public_profile,email,user_friends" data-max-rows="3" data-size="xlarge" data-show-faces="true" data-auto-logout-link="true"></div>

  <div id="nextB"><button>Let's Find My Match</button></div>
</div>
</body>

<script src="http://code.jquery.com/jquery.js"></script>
<script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

<script type="text/javascript" src="../javascripts/facebook.js"></script>

</html>
