<!DOCTYPE HTML>

<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Desert Island</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="../stylesheets/formPage.css">
    <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
</head>

<body>
	<div class = "center_box">
    <h4>Pick your favorite choice from each category...</h4>
		<select class="form-control" id="books">
		  <option>Choose a Book</option>
		  <option>1</option>
		  <option>2</option>
		  <option>3</option>
		  <option>4</option>
		  <option>5</option>
		</select>
		<select class="form-control" id="movies">
		  <option>Choose a Movie</option>
		  <option>1</option>
		  <option>2</option>
		  <option>3</option>
		  <option>4</option>
		  <option>5</option>
		</select>
		<select class="form-control" id="food">
		  <option>Choose a Food</option>
		  <option>1</option>
		  <option>2</option>
		  <option>3</option>
		  <option>4</option>
		  <option>5</option>
		</select>
		<select class="form-control" id="games">
		  <option>Choose a Game</option>
		  <option>1</option>
		  <option>2</option>
		  <option>3</option>
		  <option>4</option>
		  <option>5</option>
		</select>
		<div id= "submitButton"><button class="btn btn-default">Submit</button></div>

		<div class = "output">
			

		</div>
	</div>
</body>
<script src="http://code.jquery.com/jquery.js"></script>
<script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
<script type="text/javascript" src="../javascripts/matching.js"></script>


</html>