<!--Source: https://developers.facebook.com/docs/javascript/howto/jquery -->
<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Login Page</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
<!--<script src="//connect.facebook.net/en_US/all.js"></script>
<script language="javascript" type="text/javascript" src="app.js"></script>-->


</head>
<!--243 Assignment 4-->
<body>
<div class= "center_box">
  <h1>DESERTED ISLAND</h1>
  <h5>Find the person that you are most likely to get along with on a Deserted Island!</h5>
  <div id="fb-root"></div>
  <div id="status"></div>

  <div class="fb-login-button" scope="public_profile,email,user_friends" data-max-rows="3" data-size="xlarge" data-show-faces="true" data-auto-logout-link="true"></div>
</div>
</body>

<script type="text/javascript" src="../javascripts/facebook.js"></script>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <link rel= "stylesheet" type="text/css" href="../stylesheets/signInCSS.css" />

    
</html>
